Source: pci429-4
Section: main
Priority: extra
Maintainer: Alexander V. Gurov <gurov.alexander@gmail.com>
Build-Depends: debhelper (>= 5), bzip2
Standards-Version: 3.7.2

Package: pci429-4-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: pci429-4
Description: Drivers for Elcus PCI429-4-xx ARINC429 Cards
 D2K-DASK is a software development kit for DAQ-2000 data acquisition cards. It contains a high performance data
 acquisition driver and user library for developing custom applications under and Linux environment.
 .
 This package contains developer user library (libpci_dask2k), reference manual and examples written in ANSI C.

Package: pci429-4-source
Architecture: any
Depends: module-assistant, debhelper (>= 5), make, bzip2
Description: Drivers for Elcus PCI429-4-xx ARINC429 Cards
 D2K-DASK is a software development kit for DAQ-2000 data acquisition cards. It contains a high performance data
 acquisition driver and user library for developing custom applications under and Linux environment.
 .
 This package contains source files for D2K-DASK drivers (kernel modules), user library (libpci_dask2k) and examples.

Package: pci429-4-modules
Architecture: any
Provides: pci429-4-modules
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Drivers for Elcus PCI429-4-xx ARINC429 Cards
 D2K-DASK is a software development kit for DAQ-2000 data acquisition cards. It contains a high performance data
 acquisition driver and user library for developing custom applications under and Linux environment.
 .
 This package contains D2K-DASK drivers (kernel modules).
